<div class="text-center">
    <div class="row mb-4 project">
    <div class="col-md-12">
      <h2>{{{get_emoji}}} {{post.title}}</h2>
      <p>{{post.body}}</p>
      <p><i>Published by {{post.user.username}} on {{format_date post.date_created}}</i></p>
    </div>
  </div>
  
 {{#each post.comments as |comment| }}
  <div class="row mb-4 project">
    <div class="col-md-12">
      <p>
          {{comment.body}}
      </p>
      <p>
        <i>By {{comment.user.username}} on {{format_date comment.date_created}}</i>
      </p>
    </div>
  </div>
 {{/each}}
  <div class="row mb-4 project">
    <div class="col-md-12">
      <p>
        <h4>Comment:</h4>
        <textarea name="comment" id="comment-textarea" cols="100" rows="1"></textarea>
      </p>
      <button class="btn btn-primary" id="comment-btn" post-id="{{post.id}}">Save</button>
    </div>
  </div>
</div>

<script src="./js/comment.js"></script>